<div class="show-footer-wrap"><div class="show-footer">
<div class="slogan-wrap">
  <h1>3 PERFORMERS,</h1><h1> 100 DRUMMERS,</h1><h1> AND...</h1>
</div>
  <div class="show-navigation">

    {% for item in site.data.navigation-show-de %}
      {% if page.url == item.link %}
        <a class="button-show active-button-show" href="{{ item.link | relative_url }}">{{ item.name }}</a>

        {% else %}

        <a class="button-show" href="{{ item.link | relative_url }}">{{ item.name }}</a>
      {% endif %}
    {% endfor %}

  </div>

</div>
</div>
