// .contact-wrapper {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 80%;
// }
// .contacts {
//   text-align: center;
// }
// .contact-form {
//   display: flex;
//   flex-direction: column;
//
// }

.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.contacts {
  text-align: center;
}
.contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
  color: $blue;
}
::placeholder {
  color: $yellow;
  font-weight: 600;
}
.contact-field {
  color: $yellow;
  padding: 1em
}
textarea {
  -webkit-appearance: none;
  max-height: 300px;
  max-width: 600px;
  resize: none;
}
.name-email {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.contact-field + .contact-field {
  margin: 2em 0;
}
input[type='submit'] {
  -webkit-appearance: none;
  height: 2em;
  line-height: 0;
  padding: 1.5rem 0;
  position: absolute;
  bottom: -7rem;
  width: 7rem;
  cursor: pointer;
}
input, textarea {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 3px;
  outline: none;
}
textarea, .submit {
    border: solid $yellow;
}
input:focus, textarea:focus, select:focus {
    outline-offset: 0px;
}
.fab.fa-facebook-f {
  font-size: 40px;
}
.form-wrap{
  position: relative;
}
.contactform-email, .contactform-name {
  border-bottom: solid $yellow;
}
.thanks {
  position: absolute;
  right: 21%;
  display: none;
}
.thanks > img {
  max-width: 20rem;
}
