.contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.contacts {
  text-align: center;
}
.contact-form {
  display: flex;
  flex-direction: column;

}
