.facts {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: 1rem;
  align-items: center;
}
.left-column-facts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
img.crdc-map {
  border: solid 1px;
}
