.friends-wrap {
  width: 70%;
  height: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.friend, .network-person {
  margin-top: 3rem;
  img {
    margin: 2rem;
  }
}
.inner_circle {
  margin-top: 3rem;
  width: 100%;
  border-right: solid;
}
.network {
  margin-top: 3rem;
}
