.friends-wrap {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  a {
    text-decoration: underline;;
  }
}
.friend, .network-person {
  margin-top: 3rem;
  img {
    margin: 2rem;
  }
}
.inner_circle {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 3rem;
  width: 50%;
  border-right: solid;
  h1 {
    width: max-content;
    padding: 0 1rem;
    margin-bottom: 4rem;
    border: solid 2px;
  }
  div {
    margin-bottom: 2rem;
    li {
      margin-bottom: 1rem;
    }
  }
}
.network {
  margin: 0 auto;

  h1 {
    width: 15rem;
    border: solid 2px;
    margin: 3rem auto 4rem auto;
    padding: 0 2rem;
  }
  width: 50%;
}
li.outer-friend {
  margin-bottom: 2rem;
}
img.remo {
  width: 100px;
  margin-top: 1rem;
}
