.friends-wrap {
  width: 70%;
  height: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: start;
  text-align: center;
}
.friend, .network-person {
  margin-top: 3rem;
  img {
    margin: 2rem;
  }
}
.inner_circle {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
  border-right: solid;
  h1 {
    width: max-content;
    padding: 0 1rem;
    margin-bottom: 4rem;
    border: solid 2px;
  }
  div {
    margin-bottom: 2rem;
    li {
      margin-bottom: 1rem;
    }
  }
}
.network {
  margin-top: 3rem;
  h1 {
    border: solid 2px;
    margin-bottom: 4rem;
    padding: 0 2rem;
  }
}
li.outer-friend {
  margin-bottom: 2rem;
}
img.remo {
  width: 100px;
  margin-top: 1rem;
}
