.gallery {
  flex: 1;
}
.carousel-inner {
  max-width: 45%;
  margin: 0 auto;
}
.carousel-control-next-icon {
  color: $yellow;
  margin-left: -20rem;
}
.carousel-control-prev-icon {
  margin-right: -20rem;
}
