.header-wrapper {
  display: block;
  margin-bottom: 2em;
  position: relative;
}
.logo {
  width: 15rem;
  position: absolute;
  left: 4rem;
  top: 2em;
}
.cta.contact:hover {
  color: $yellow;
}
.cta.contact {
  position: absolute;
  right: 4rem;
  top: 4.5rem;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}
.navigation-wrap {
  display: flex;
  justify-content: center;
}
.navigation {
  margin-top: 5.3rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.menu-item {
  text-align: center;
  margin: 0 1.5em;
  font-size: 18px;
}
.menu-item.active {
font-size: 23px;
font-weight: 900;
text-decoration: underline;
}
a.menu-item:hover {
  color: $yellow;
}
