.header-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.logo {
  width: 15rem;
  margin-left: 4rem;
  margin-top: 2em;
}
.cta.contact:hover {
  color: $yellow;
}
.cta.contact {
  display: block;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  margin-left: 1.5rem;
  text-align: center;
}
.cta-contact-wrap {
  height: 27%;
  justify-self: center;
  align-self: center;
}
.navigation-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: max-content;
}

.menu-item {
  text-align: center;
  margin: 0 1.5em;
  font-size: 18px;
  white-space: nowrap;
}
.menu-item.active {
font-size: 23px;
font-weight: 900;
text-decoration: underline;
}
a.menu-item:hover {
  color: $yellow;
}
