.header-wrap {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 10rem;
  margin-left: 4rem;
  margin-top: 2em;
}
.cta.contact:hover {
  color: $yellow;
}
.cta.contact {
  display: block;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  margin: 0 1.5rem;
  text-align: center;
}
.cta-contact-wrap {
  height: 27%;
  justify-self: center;
  align-self: center;
}
.navigation-wrap {
  display: block;
}
.navigation {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  width: max-content;
  flex-shrink: 0;
}

.menu-item {
  text-align: center;
  margin: 0 1.5em;
  font-size: 15px;
  white-space: nowrap;
  padding-top: 0.8em;
}
.menu-item.active {
font-size: 18px;
font-weight: 900;
text-decoration: underline;
}
a.menu-item:hover {
  color: $yellow;
}
//Header mobile
.bg-light {
  background-color: rgba(0,0,0, 0) !important;
}
//Header
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250,240,118, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: $yellow;
  text-align: center;
  display: flex;
  margin: 0 auto;
}
