body.home {
  background:
  //       linear-gradient(
  //       rgba(0, 0, 0, 0.2),
  //       rgba(0, 0, 0, 0.2)
  //       ),
        url("/assets/images/Backround-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.content-home {
  display: flex;
  justify-content: space-around;
  flex: 1 0 0;
}
.header-home {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.languages {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
.languages > .cta {
  margin: 0 2rem;
}
.cta.de {
  margin-top: 2rem;
}
.logo-home {
  max-width: 20rem;
}
.keywords {
  justify-self: center;
  align-self: center;
}
.keyword {
  font: 100% $happy;
  font-size: 60px;
  transform: rotate(-14deg);
}
