body.home {
  background:
        linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
        ),
        url(/assets/images/Backround-home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-home {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.languages {
  display: flex;
  flex-direction: row;
  margin-top: 1.8em;
}
.languages > .cta {
  margin: 0 2rem;
}
.logo-home {
  max-width: 20rem;
}
