.impressum-wrap {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 80%;
  margin: auto 4em;
}
.privacy-policy {
  width: 40%;
  overflow: scroll;
  max-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.impressum {
  width: 40%;
  text-align: center;
  max-width: 300px;
}
