.impressum-wrap {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
  height: 80%;
  margin: auto 4em;
}
.privacy-policy {
  overflow: scroll;
  max-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.impressum {
  text-align: center;
  max-width: 300px;
}
