// Tablet
@media screen and (max-width: 768px) {
  //Universal
  .cta.contact {
    justify-self: start;
    align-self: start;
  }
  //Home
  .keyword {
    display: none;
  }
  //Show
  .show-wrapper {
    display: block;
    flex-direction: column;
  }
  .img-show {
    max-width: 30rem;
    margin: 2rem auto;
  }
  .show-navigation {
    grid-template-columns: 1fr;
    width: 30%;
    grid-row-gap: 1em;
  }
  //story
  .story-content-wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .story-images {
    flex-direction: row;
    width: 15rem;
  }
  .story-text {
    margin-top: 2rem;
  }
  .story-image-2 {
    display: none;
  }
  .story-image-1 {
    transform: rotate(-14deg);
  }
  //Facts
  .facts {
    margin-top: 2rem;
    grid-template-columns: 80%;
    justify-content: center;
  }
  .crdc-map {
    grid-row-start: 1;
    margin-top: 0;
  }
  //Team
  .team {
    grid-template-columns: 90%;
    justify-content: center;
    p {
      width: 70%;
    }
    margin-top: 2rem;
  }

  .action-figure.berta {
    grid-row-start: 2;
  }
  .action-figure.philipp {
    grid-row-start: 4;
  }
  .action-figure {
    margin-bottom: 8rem;
    margin-top: 2rem;
  }
  //Contact
  .contact-wrapper {
    grid-template-columns: 90%;
  }
  * {
    margin: 0 auto;
  }
  .contacts {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 414px) {
  //Header {
  .header-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .logo {
    margin: 1rem auto;
  }
  //Home
  body.home {
    background-size: cover;
  }
  .content-home {
    display: flex;
  }
  .languages {
    flex-direction: column;
    .cta {
      margin: 1rem 0;
    }
  }
  //Show
  .show-footer {
    h1 {
      text-align: center;
    }
  }
  .story-wrap {
    width: 100%;
    padding: 0 0 2rem 0;
  }
  //Facts
  .facts {
    margin: 0 auto;
  }
  img.circus {
    width: 300px
  }
  .crdc-map {
  width: 100%;
  padding-top: 100%;
  }
  //Friends
  .friends-wrap {
    grid-template-columns: 100%;
  }
  .inner_circle {
    border-right: none;
    border-bottom: solid;
  }
  //Contacts
  .contact-wrapper, .form-wrap {
    width: 100%;
    margin: 2rem auto;
  }
  .contact-form {
    margin-bottom: 3rem;
  }
  //Impressum
  .impressum-wrap {
    display: flex;
    flex-direction: column;
  }
}


@media screen and (min-width: 992px) {
  .navbar-toggler {
    display: none !important;
  }
}
