// Tablet
@media screen and (max-width: 991px) {
  //Home
  body.home {
    background-position: center;
  }
  //Show
  .show-wrapper {
    display: flex;
    flex-direction: column;
  }
  img.show {
    max-width: 30rem;
  }

}
@media screen and (min-width: 992px) {
  .navbar-toggler {
    display: none !important;
  }
}
