.story-wrap {
  flex: 1 0 0;
}
.story-content-wrap {
  display: flex;
  align-items: center;
  max-height: 25rem;
  width: 65%;
  max-height: 22rem;
  margin: 1rem auto 2rem auto;
  padding: 2rem 0 2rem 2rem;
  background-color: $green;
  border-radius: 1rem;
}
.story-text {
  padding-right: 2rem;
  overflow: scroll;
  max-height: 20rem;
  width: 90%;
  p {
    color: #212121;
  }
  z-index: 5;
}

.story-images {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-top: 3%;
  height: 80%;
  justify-content: space-around;
}

.story-image-1 {
  transform: rotate(14deg);
}
.story-image-2 {
  transform: rotate(-14deg);
}
.story-image-1, .story-image-2 {
  img {
    width: 10rem;
    border: solid 1px;
  }
}
// .story-text-wrap {
//   height: 25rem;
//   display: block;
//   overflow: scroll;
//   padding: 0 2rem;
// }
.story-arrow.fas.fa-arrow-down {
  position: absolute;
  bottom: 0;
  left: -4rem;
}
