.story-wrap {
  width: 65%;
  height: min-content;
  margin: 2rem auto;
  padding: 2rem 4rem;
  background-color: $green;
  border-radius: 1rem;
  display: grid;
}
.story-content-wrap {
  width: 100%;
  margin: auto;
  padding: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
.story-text {
  p {
    color: black;
  }
}

.story-images {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-top: 3%;
  height: 80%;
  justify-content: space-around;
}

.story-image-1 {
  background: url("/crdc/assets/images/story-image-1.jpg");
  transform: rotate(14deg);
}
.story-image-2 {
  background: url("/crdc/assets/images/story-image-2.jpg");
  transform: rotate(-14deg);
}
.story-image-1, .story-image-2 {
  max-width: 1024px;
  width: 75%;
  border: solid 3px;
  padding-top: 3 / 4 * 75%;
  background-repeat: no-repeat;
  background-size: cover;
}
.story-text-wrap {
  height: 25rem;
  display: block;
  overflow: scroll;
  padding: 0 2rem;
}
.story-arrow.fas.fa-arrow-down {
  position: absolute;
  bottom: 0;
  left: -4rem;
}
