//Colors
$yellow: #FAF076;
$green: #49927C;
$blue: #02509E;

//Fonts
$general: 'Montserrat', sans-serif;
$happy: 'Henny-Penny';

@font-face {
  font-family: 'Henny-Penny';
  src: url(/assets/fonts/HennyPenny-Regular.woff);
}
* {
  box-sizing: border-box;
  font: 100% $general;
  color: $yellow;
}
body {
  min-height: 829px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
  object-fit: scale-down;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1 {
  font-weight: 900;
  font-size: 26px;
}
h1.center-title {
  text-align: center;
}
h2{
  font-size: 20px;
  font-weight: 900;
}
h3 {
  font-weight: 900;
  font-size: 16px;
}
h4 {
  font-size: 12px;
}
a{
  color: $yellow;
  text-decoration: none;
  :hover, :focus {
    color: $yellow !important;
    text-decoration: none !important;
  }
}
strong {
  font-weight: bold;
}
body.default-background {
  background:    linear-gradient(
      rgba(73, 146, 124, 0.7),
      rgba(73, 146, 124, 0.7)
      ),
      url(/assets/images/Backround-default.jpg);
  background-size: cover;

}
.fas {
  font-size: 2rem;
}
.block {
  display: block;
}
.cta > a {
  color: $yellow;
  font-weight: bold;
  text-decoration: none;
}
.cta {
 background-image: linear-gradient(155deg, $blue 7%, $green 57%, $yellow 100%);
 border: 3px solid $yellow;
 border-radius: 0.5rem;
 font-family: Montserrat-Bold;
 font-size: 18px;
 text-align: center;
 padding: 0.5rem 1.2rem;
 text-transform: uppercase;
}
.footer {
    text-align: right;
    align-self: right;
    margin-right: 2rem;
    padding-bottom: 0.5rem;
}
a.footer:hover {
  color: $yellow !important;
}
.logo-small {
  width: 4rem;
}
// .button-show {
//   color: blue;
// }
// .active-button-show {
//   color: red !important;
// }
