@font-face {
  font-family: 'Henny-Penny';
  src: url("/crdc/assets/fonts/HennyPenny-Regular.woff"); }
* {
  box-sizing: border-box;
  font: 100% "Montserrat", sans-serif;
  color: #FAF076; }

body {
  position: relative;
  min-height: 829px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  object-fit: scale-down;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

h1 {
  font-weight: 900;
  font-size: 26px; }

h1.center-title {
  text-align: center; }

h2 {
  font-size: 20px;
  font-weight: bolder; }

h3 {
  font-weight: 900;
  font-size: 16px; }

h4 {
  font-size: 12px; }

a {
  color: #FAF076;
  text-decoration: none; }
  a :hover, a :focus {
    color: #FAF076 !important;
    text-decoration: none !important; }

li {
  list-style-position: inside; }

strong {
  font-weight: bold; }

a.cc-button {
  color: #49927C !important; }

html, body {
  margin: 0; }

html {
  height: 100%; }

body {
  min-height: 100%; }

body.default-background {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(73, 146, 124, 0.7), rgba(73, 146, 124, 0.7)), url("/crdc/assets/images/Backround-default.jpg");
  background-size: cover; }

.fas {
  font-size: 2rem; }

.block {
  display: block; }

.cta > a {
  color: #FAF076;
  font-weight: bold;
  text-decoration: none; }

.cta {
  background-image: linear-gradient(155deg, #02509E 7%, #49927C 57%, #FAF076 100%);
  border: 3px solid #FAF076;
  border-radius: 0.5rem;
  font-family: Montserrat-Bold;
  font-size: 15px;
  text-align: center;
  padding: 0.5rem 1.2rem;
  text-transform: uppercase;
  white-space: nowrap; }

div.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end; }

a.footer {
  margin-bottom: 0.5rem;
  font-size: 10px; }

a.footer:hover {
  color: #FAF076 !important; }

.logo-small {
  width: 4rem; }

.header-wrap {
  display: flex;
  justify-content: space-between; }

.logo {
  width: 10rem;
  margin-left: 4rem;
  margin-top: 2em; }

.cta.contact:hover {
  color: #FAF076; }

.cta.contact {
  display: block;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  margin: 0 1.5rem;
  text-align: center; }

.cta-contact-wrap {
  height: 27%;
  justify-self: center;
  align-self: center; }

.navigation-wrap {
  display: block; }

.navigation {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  width: max-content;
  flex-shrink: 0; }

.menu-item {
  text-align: center;
  margin: 0 1.5em;
  font-size: 15px;
  white-space: nowrap;
  padding-top: 0.8em; }

.menu-item.active {
  font-size: 18px;
  font-weight: 900;
  text-decoration: underline; }

a.menu-item:hover {
  color: #FAF076; }

.bg-light {
  background-color: rgba(0, 0, 0, 0) !important; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250,240,118, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.custom-toggler.navbar-toggler {
  border-color: #FAF076;
  text-align: center;
  display: flex;
  margin: 0 auto; }

body.home {
  background: url("/crdc/assets/images/Backround-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); }

.content-home {
  display: flex;
  justify-content: space-around; }

.header-home {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }

.languages {
  display: flex;
  flex-direction: column;
  margin: 2rem; }

.languages > .cta {
  margin: 0 2rem; }

.cta.de {
  margin-top: 2rem; }

.logo-home {
  max-width: 20rem; }

.keywords {
  margin-top: 6rem;
  justify-self: center;
  align-self: center; }

.keyword {
  font: 100% "Henny-Penny";
  font-size: 60px;
  line-height: 15rem;
  transform: rotate(-14deg); }

.show-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  flex: 1; }

.expect-offer-wrap {
  display: flex;
  flex-direction: row;
  margin-right: 0.5rem; }

.expectation {
  text-align: right;
  padding-right: 0.5em; }

.offer {
  padding-left: 0.5em;
  margin-top: 3rem;
  margin-left: 2rem; }

.show-footer-wrap {
  flex-shrink: 0; }

.show-footer {
  width: 100%;
  padding-top: 2em;
  border-top: solid 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }
  .show-footer h1 {
    font: 100% "Henny-Penny";
    font-size: 30px;
    text-align: center; }

.show-navigation {
  margin-top: 1em;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center; }

.button-show {
  width: 10rem;
  margin: 0 5em;
  padding: 1em 2em;
  background: #FAF076;
  color: #02509E;
  font-weight: 900;
  text-align: center; }

.active-button-show {
  background: #49927C;
  color: #FAF076;
  text-decoration: underline;
  font-weight: 900;
  text-align: center;
  margin: 0 5em;
  padding: 1em 2em; }

a.active-button-show:hover {
  color: #FAF076; }

a.button-show:hover {
  color: #02509E; }

.img-show-wrap {
  display: block; }

.img-show {
  margin-top: -3rem;
  margin-right: 3rem;
  width: 30rem;
  border: solid 3px; }

.gallery {
  flex: 1; }

.carousel-inner {
  max-width: 45%;
  margin: 0 auto; }

.carousel-control-next-icon {
  color: #FAF076;
  margin-left: -20rem; }

.carousel-control-prev-icon {
  margin-right: -20rem; }

.facts {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: 1rem;
  align-items: center; }

.left-column-facts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

img.crdc-map {
  border: solid 1px; }

.contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly; }

.contacts {
  text-align: center; }

.contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #02509E; }

::placeholder {
  color: #FAF076;
  font-weight: 600; }

.contact-field {
  color: #FAF076;
  padding: 1em; }

textarea {
  -webkit-appearance: none;
  max-height: 300px;
  max-width: 600px;
  resize: none; }

.name-email {
  display: flex;
  flex-direction: column;
  width: 40%; }

.contact-field + .contact-field {
  margin: 2em 0; }

input[type='submit'] {
  -webkit-appearance: none;
  height: 2em;
  line-height: 0;
  padding: 1.5rem 0;
  position: absolute;
  bottom: -7rem;
  width: 7rem;
  cursor: pointer; }

input, textarea {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 3px;
  outline: none; }

textarea, .submit {
  border: solid #FAF076; }

input:focus, textarea:focus, select:focus {
  outline-offset: 0px; }

.fab.fa-facebook-f {
  font-size: 40px; }

.form-wrap {
  position: relative; }

.contactform-email, .contactform-name {
  border-bottom: solid #FAF076; }

.thanks {
  position: absolute;
  right: 21%;
  display: none; }

.thanks > img {
  max-width: 20rem; }

.video-wrap {
  width: 50%;
  position: relative;
  overflow: hidden;
  padding-top: 28.125%;
  margin: 0 auto; }

iframe.video-show {
  box-shadow: 8px 8px 6px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.story-wrap {
  flex: 1; }

.story-content-wrap {
  display: flex;
  align-items: center;
  max-height: 25rem;
  flex: 1;
  width: 65%;
  max-height: 22rem;
  margin: 1rem auto 2rem auto;
  padding: 2rem 0 2rem 2rem;
  background-color: #49927C;
  border-radius: 1rem; }

.story-text {
  overflow: scroll;
  max-height: 20rem;
  width: 90%;
  z-index: 5; }
  .story-text p {
    color: #212121; }

.story-images {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-top: 3%;
  height: 80%;
  justify-content: space-around; }

.story-image-1 {
  transform: rotate(14deg); }

.story-image-2 {
  transform: rotate(-14deg); }

.story-image-1 img, .story-image-2 img {
  width: 10rem;
  border: solid 1px; }

.story-arrow.fas.fa-arrow-down {
  position: absolute;
  bottom: 0;
  left: -4rem; }

.team {
  display: flex;
  align-items: start;
  justify-content: center; }
  .team img {
    border: solid 3px; }

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  justify-content: space-between; }
  .person h2, .person h3, .person h4 {
    padding: 0 2rem;
    margin: 0.4rem; }
  .person p {
    padding: 0.1rem 1rem;
    font-style: italic; }
  .person h2 {
    margin-top: 1rem; }

.action-figure {
  height: 12rem; }

.friends-wrap {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .friends-wrap a {
    text-decoration: underline; }

.friend, .network-person {
  margin-top: 3rem; }
  .friend img, .network-person img {
    margin: 2rem; }

.inner_circle {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 3rem;
  width: 50%;
  border-right: solid; }
  .inner_circle h1 {
    width: max-content;
    padding: 0 1rem;
    margin-bottom: 4rem;
    border: solid 2px; }
  .inner_circle div {
    margin-bottom: 2rem; }

.network {
  margin: 0 auto;
  width: 50%; }
  .network h1 {
    width: 15rem;
    border: solid 2px;
    margin: 3rem auto 4rem auto;
    padding: 0 2rem; }

img.remo {
  width: 100px;
  margin-top: 1rem; }

.impressum-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  margin: auto 4em; }

.privacy-policy {
  width: 40%;
  overflow: scroll;
  max-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.impressum {
  width: 40%;
  text-align: center;
  max-width: 300px; }

@media screen and (max-width: 768px) {
  .header-wrap {
    flex-direction: column;
    margin: 0 auto; }

  .cta.contact {
    justify-self: start;
    align-self: start; }

  .keyword {
    display: none; }

  .show-wrapper {
    display: block;
    flex-direction: column;
    align-items: center; }

  .person {
    width: 90%;
    margin: 0 auto; }

  .table-wrap {
    display: flex;
    flex-direction: column; }

  td.expectations {
    text-align: left; }

  .img-show-wrap {
    display: flex;
    flex-direction: column; }

  .img-show {
    width: 20rem;
    margin: 2rem auto; }

  .show-navigation {
    display: flex;
    flex-direction: column; }

  .button-show {
    margin: 1rem 0; }

  .story-content-wrap {
    display: flex;
    flex-direction: column-reverse; }

  .story-images {
    flex-direction: row;
    width: 15rem; }

  .story-text {
    margin-top: 2rem; }

  .story-image-2 {
    display: none; }

  .story-image-1 {
    transform: rotate(-14deg); }

  .carousel-control-next-icon {
    color: #FAF076;
    margin-left: 0; }

  .carousel-control-prev-icon {
    margin-right: 0; }

  .facts {
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center; }

  .crdc-map {
    width: 20rem; }

  .team {
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem; }
    .team p {
      width: 70%; }

  .action-figure {
    margin-bottom: 8rem;
    margin-top: 2rem; }

  .friends-wrap {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .inner_circle {
    border-right: none;
    border-bottom: solid; }

  .contact-wrapper {
    display: flex;
    flex-direction: column;
    margin: 15%; }

  .contacts {
    margin-top: 2rem; } }
@media screen and (max-width: 414px) {
  .logo {
    margin: 1rem auto; }

  body.home {
    background-size: cover; }

  .content-home {
    display: flex; }

  .languages {
    flex-direction: column; }
    .languages .cta {
      margin: 1rem 0; }

  .story-wrap {
    width: 100%;
    padding: 0 0 2rem 0; }

  .facts {
    margin: 0 2rem; }

  .inner_circle {
    border-right: none;
    border-bottom: solid; }

  .contact-wrapper, .form-wrap {
    width: 100%;
    margin: 2rem auto; }

  .contact-form {
    margin-bottom: 3rem; }

  .impressum-wrap {
    display: flex;
    flex-direction: column; } }
@media screen and (min-width: 992px) {
  .navbar-toggler {
    display: none !important; } }
