---
layout: default
---
<div class="contact-wrapper">

  <div class="contacts">
    <h2>{{ page.contact-name }}</h2>
    <p>{{ page.telephone }}</p>
    <p><a href="mailto:{{ page.email }}">{{ page.e-mail }}</a></p>
    <a target="_blank" href="https://www.facebook.com/CrazyRumbleDrumCircus/?ref=br_rs"><i class="fab fa-facebook-f"></i></a>
  </div>

  <div class="form-wrap">
    <form class="contact-form" action="https://getsimpleform.com/messages?form_api_token=430a3ce07457fb0826765dd630adbeec" method="post">
      <!-- all your input fields here.... -->
      <div class="name-email">
          <input id="name" class="contact-field contactform-name" type='text' name='name' placeholder="Name" required/>
          <input id="email"class="contact-field contactform-email" type="email" name="email" placeholder="e-mail" value="" required>
      </div>

      <textarea id="message" class="contact-field" name="message" rows="20" cols="80" placeholder="Your Message" required></textarea>

      <input class="contact-field submit" type='submit' value='Send' />

    </form>
  </div>
  <div  class="thanks">
    <img src="/assets/images/mail.png" alt="">
    <h1>{{page.thank_you_message}}</h1>
  </div>
</div>
<script type="text/javascript">
document.querySelector(".submit").addEventListener('click', function(e) {
var userInputName = document.getElementsByName("name")[0].value,
    userInputEmail = document.getElementsByName("email")[0].value,
    userInputMessage = document.getElementsByName("message")[0].value;

if (userInputName.length > 0 && userInputEmail.length > 0 && userInputMessage.length > 0)
{
  document.querySelector(".thanks").style.display = "block";
  document.querySelector(".contact-form").style.display = "none";
}
else
{
e.preventDefault();
}
}, false);
</script>
