---
layout: default
---
<div class="contact-wrapper">

  <div class="impressum">
    <p class="name">{{ page.contact-name }}</p>
    <p>{{ page.telephone }}</p>
    <p>{{ page.e-mail }}</p>
    <a href="https://www.facebook.com/CrazyRumbleDrumCircus/?ref=br_rs"></a>
    <a href="https://www.facebook.com/CrazyRumbleDrumCircus/?ref=br_rs"><i class="fab fa-facebook-f"></i></a>
  </div>


  <form action="https://getsimpleform.com/messages?form_api_token=aa0a1c58e87ea8816ba9ff7d7a71d0ef" method="post">
    <!-- all your input fields here.... -->
    <input type='text' name='name' placeholder="Name"/>
    <input type="email:" name="email" placeholder="e-mail" value="">
    <textarea name="message" rows="20" cols="80"></textarea>
    <input type='submit' value='Send' />
  </form>
<!-- REMEMBER TO PUT THANKYOU MESSAGE WHEN YOU STYLE THIS -->
</div>
