---
layout: default
---
<div class="friends-wrap">
  <div class="inner_circle">
    <h1>Inner Circle</h1>

    <h2>Construction and Metal Work</h2>
      <ul>
        <li> <a href="http://www.daniel-weissroth.de/">www.daniel-weissroth.de</a></li>
      </ul>

    <h2>Instruments</h2>
      <ul>
        <li> <a target="_blank" href="www.gewamusic.com">www.gewamusic.com</a> </li>
        <li> <a href="www.remo.com">www.remo.com</a> </li>
      </ul>

    <!-- <h2>Beratung</h2>
      <ul>
        <li>Angharad Matthews</li>
      </ul> -->

    <h2>Graphic Design and Printing</h2>
      <ul>
        <li> <a href="www.druckerei-breiden.de">www.druckerei-breiden.de</a> </li>
      </ul>

    
  </div>

  <div class="network">
    <h1>Network</h1>
  </div>
</div>
