<!DOCTYPE html>
<html lang="en" dir="ltr">
 {% include head.html %}

  <body class="home">
<div class="content-home">
        <div class="keywords">
          <h1 class="keyword">CIRCUS</h1>
          <h1 class="keyword">RYTHMUS</h1>
        </div>

        <div class="header-home">

          <a href="{{ site.url | append: {{ site.baseurl }} }}"><img class="logo-home" src={{ "assets/images/crdc-logo.png" | relative_url }} alt=""></a>

          <div class="languages">
            <div class="cta"><a class="" href={{ "/the-show" | relative_url }}>Tell me more...</a></div>
            <div class="cta"><a class="" href={{ "/the-show" | relative_url }}>Mehr Anzeigen...</a></div>
          </div>

        </div>

        <div class="keywords">
          <h1 class="keyword">ACTION</h1>
          <h1 class="keyword">SHOW</h1>
        </div>
</div>
    {% include footer.html %}

  </body>
</html>
