---
layout: default
---
<div class="story-wrap">

    <div class="story-text-wrap">
      <div class="story-text">
        <h1 class="center-title">{{ page.story-title }}</h1>
        <p>{{ content }}</p>
      </div>
    </div>


  <div class="story-images">
    <img class="story-image-1" src="/assets/images/story-image-1.jpg" alt="">
    <img class="story-image-2" src="/assets/images/story-image-2.jpg" alt="">
    <i class="story-arrow fas fa-arrow-down"></i>
  </div>



</div>
{% include navigation-show.html %}
