---
layout: default
---
<div class="story-wrap">
  <div class="story-content-wrap">

    <div class="story-text-wrap">
      <div class="story-text">
        <h1 class="center-title">{{ page.story-title }}</h1>
        <p>{{ content }}</p>
        <!-- <i class="story-arrow fas fa-arrow-down"> -->
      </div>
    </div>


    <div class="story-images-wrap">
      <div class="story-images">

        <div class="story-image-1">
          <img src="/crdc/assets/images/story-image-1.jpg" alt="">
        </div>
        <div class="story-image-2">
          <img src="/crdc/assets/images/story-image-2.jpg" alt="">
        </div>

      </div>
    </div>

  </div>


</div>
{% include navigation-show.html %}
