---
layout: default
---
<div class="show-wrapper">
  <div>
    <img class="show" src="/assets/images/image-show.png" alt="">
  </div>

  <div class="offer-wrapper">
    <div class="expectations">
      <h1> {{ page.expectation-title }} </h1>
        <p>{{ page.expectation_1_en | markdownify }}</p>
        <p>{{ page.expectation_2_en | markdownify }}</p>
        <p>{{ page.expectation_3_en | markdownify }}</p>
    </div>

    <div class="offer">
      <h1>{{ page.offer-title | markdownify }}</h1>
        <p>{{ page.offer_1_en | markdownify }}</p>
        <p>{{ page.offer_2_en | markdownify }}</p>
        <p>{{ page.offer_3_en | markdownify }}</p>
      </div>
  </div>
</div>
{% include navigation-show.html %}
